body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.sobre {
    top: 100px;
    left: 30px;
    opacity: 0.7;
    background-color: grey;
    color: white;
    transform: rotate(10deg);
    border: 1px solid red;
}

.wrap {
    font-size: 1.5rem;
}


/* video */

.separadores {
    padding: 0;
    color: #035335;
}

.menu {
    background-color: #035335;
    ;
}

.col12 {
    background-color: #035335;
    ;
}

section {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

section .container {
    position: relative;
    z-index: 2;
}

section .overlay-wcs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

ul-foot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul-foot li {
    list-style: none;
    margin: 0 40px;
}

ul-foot li .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
}

ul-foot li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}

ul-foot li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

ul-foot li a::after {
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

ul-foot li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

ul-foot li:hover .fa {
    color: #fff;
}

ul-foot li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

ul-foot li:hover:nth-child(1) a {
    background: #3b5999;
}

ul-foot li:hover:nth-child(1) a:before {
    background: #2e4a86;
}

ul-foot li:hover:nth-child(1) a:after {
    background: #4a69ad;
}

ul-foot li:hover:nth-child(2) a {
    background: #55acee;
}

ul-foot li:hover:nth-child(2) a:before {
    background: #4184b7;
}

ul-foot li:hover:nth-child(2) a:after {
    background: #4d9fde;
}

ul-foot li:hover:nth-child(3) a {
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

ul-foot li:hover:nth-child(3) a:before {
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

ul-foot li:hover:nth-child(3) a:after {
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.contacto {
    color: #035335;
}

footer {
    margin-top: 5%;
    margin-left: 33%;
}

@media (max-width: 950px) {
    footer {
        margin-top: 8%;
    }
    ul-foot li .fa {
        font-size: 20px;
        line-height: 40px;
    }
    ul-foot li a::after {
        content: "";
        position: absolute;
        top: 39px;
        left: -11px;
        height: 20px;
        width: 100%;
        background: #b1b1b1;
        transition: .5s;
        transform: rotate(0deg) skewX(-45deg);
    }
    ul-foot li a {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #fff;
        text-align: center;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0, 0);
        transition: .5s;
        box-shadow: -20px 20px 10px rgb(0 0 0 / 50%);
    }
    .barrafooter {
        margin-top: 50px;
    }
}

.barrafooter {
    margin-top: 90px;
}

.card-subtitle,
.card-title {
    font-weight: 400;
}

.card-title {
    font-size: .875rem;
    color: #495057;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, .05);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 0 solid transparent;
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-header:first-child {
    border-radius: .25rem .25rem 0 0;
}

.card-header {
    border-bottom-width: 1px;
}

.pb-0 {
    padding-bottom: 0!important;
}

.card-header {
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid transparent;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pinBoot {
    position: relative;
    max-width: 100%;
    width: 100%;
    background-color: white;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}


/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
    font-size: 1em;
}

.white-panel h1 a {
    color: #A92733;
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}